<p> Ajouter utilisateurs</p>
<div class="container">
  <form class="row g-3 needs-validation"   (ngSubmit)="onUtilisateur(f)" #f="ngForm">
    <div class="col-md-5">
      <label for="validationCustom01" class="form-label">FirstName</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="text" class="form-control" id="firstname" name="firstname" ngModel required>
      <div class="valid-feedback">
        Looks good!
      </div>
      </div>

    </div>
    <div class="col-md-5">
      <label for="validationCustom02" class="form-label">LastName</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
        <input type="text" class="form-control" id="validationCustom02" name="lastname" ngModel required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-5">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
        <input type="text" class="form-control" id="validationCustomUsername" name="email" ngModel aria-describedby="inputGroupPrepend"
          required>
        <div class="invalid-feedback">
          Please choose a email
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <label for="validationCustom03" class="form-label">Phone</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="text" class="form-control" id="validationCustom03" name="phone" ngModel required>
      <div class="invalid-feedback">
        Please provide a valid phone.
      </div>
    </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

</div>
