
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">App</a>
      <a routerLink="/AddUtilisateur" class="navbar-brand" href="#">Add</a>
    </div>
   <ul class="nav navbar-nav pull-left">
      <li>
        <!-- <a routerLink="/login"> Login</a> -->
        <!-- <a> Logout</a> -->
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div>
